.portfolio{
background-color: rgb(170, 230, 230);

}
*{
    margin: 15px;
    font-family: sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
  }
  
  .left-side {
    display: flex;
  }
  
  .nav-wrapper > .left-side > div {
      text-transform: uppercase;
  }
  
  .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
  }
.center{
    display: block;
    display: flex;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper{
  align-content: center;
  width: 100%;
}
/* header */
header {
  text-align: center;
  padding: 20px 10px;
}

/* hero */
.hero-block {
  padding: 40px;
  background-color: #ccc;
}
/* portfolio sections */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Area1 Area2 Area3"
    "Area1 Area2 Area4";
}
.area1 { grid-area: Area1; }
.area2 { grid-area: Area2; }
.area3 { grid-area: Area3; }
.area4 { grid-area: Area4; }


/* contact details */
.contact-details{
  padding: 40px;
}

.contact-form {
  padding: 40px;
}

.contact-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.contact-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

footer{
  text-align: center;
  padding-bottom: 20px;
}

